html {
  background-color: black;

  body {
    color: white;
    background-color: black;

    .loading-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
