.details-page {
  margin: 10% 23%;

  .movie-info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
    }

    .movie-info-container {
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      .genre-badges {
        margin-right: 10px;
      }

      h1 {
        margin: 20px 0;
        font-size: 40px;
      }

      .movie-info-items {
        padding-bottom: 30px;
        font-size: 18px;
        border-bottom: 1px solid lightgray;

        span:nth-child(1) {
          padding-right: 10px;
        }

        span:nth-child(2) {
          padding-right: 10px;
          font-weight: bold;
        }

        span:nth-child(3) {
          color: red;
          font-size: 15px;
        }
      }

      .movie-overview {
        padding: 30px 0;
        font-size: 15px;
      }

      .details-info-box {
        padding: 30px 0;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        .badge {
          width: 100px;
          margin: 8px 0;
        }

        .badges {
          margin-left: 10px;
        }
      }

      .trailer {
        margin-top: 30px;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
  }

  .other-content-section {
    margin-top: 100px;

    li {
      --bs-nav-link-color: red;
      --bs-nav-link-hover-color: #cc0000;
    }

    .content-box {
      padding: 25px 35px;
      height: 500px;
      border: 1px solid lightgray;
      overflow: scroll;

      // review content box
      .review-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;

        .user-id {
          margin-bottom: 5px;
          font-size: 25px;
        }
      }

      // recommendations content box
      .recommendations-movies-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px 20px;
        padding: 40px;
        width: 100%;

        .recommendations-movies {
          padding: 10px 20px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .details-page {
    margin: 5% 7%;

    .movie-info-section {
      display: flex;
      flex-direction: column;

      img {
        margin-bottom: 15px;
      }

      .movie-info-container {
        h1 {
          margin: 5px 0;
          font-size: 25px;
        }

        .movie-info-items {
          padding-bottom: 10px;
          font-size: 15px;
        }

        .movie-overview {
          padding: 15px 0;
          font-size: 15px;
        }

        .details-info-box {
          padding: 15px 0;
        }

        .trailer {
          display: none;
        }
      }
    }

    .other-content-section {
      margin: 20px 0 50px;

      .mb-3 {
        font-size: 12px;
      }

      .content-box {
        height: 300px;
        padding: 10px 15px;

        .review-box {
          font-size: 12px;

          .user-id {
            font-size: 18px;
          }
        }

        .recommendations-movies-box {
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          padding: 10px;
          width: 100%;
        }
      }
    }
  }
}
