.movies-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;

  .select-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 250px;

    .filter-range {
      margin: 20px 0;

      p {
        margin-bottom: 20px;
      }

      .input-range {
        width: 90%;
        left: 15px;
      }

      .input-range__track--active {
        background-color: red;
      }

      .input-range__slider {
        background-color: red;
        border: 1px solid red;
      }
    }
  }

  .movies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
