.details-page {
  margin: 10% 23%;

  .movie-info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
    }

    .movie-info-container {
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      .genre-badges {
        margin-right: 10px;
      }

      h1 {
        margin: 20px 0;
        font-size: 40px;
      }

      .movie-info-items {
        padding-bottom: 30px;
        font-size: 18px;
        border-bottom: 1px solid lightgray;

        span:nth-child(1) {
          padding-right: 10px;
        }

        span:nth-child(2) {
          padding-right: 10px;
          font-weight: bold;
        }

        span:nth-child(3) {
          color: red;
          font-size: 15px;
        }
      }

      .movie-overview {
        padding: 30px 0;
        font-size: 15px;
      }

      .details-info-box {
        padding: 30px 0;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        .badge {
          width: 100px;
          margin: 8px 0;
        }

        .badges {
          margin-left: 10px;
        }
      }

      .trailer {
        display: flex;
        align-items: center;
        padding: 30px 0;
        color: red;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
  }

  // .other-content-container {
  //   .tap-box {
  //     display: flex;
  //     width: 100%;
  //     margin: 60px 0 20px;

  //     .other-taps {
  //       margin-right: 15px;
  //       padding: 10px 15px;
  //       border: 1px solid lightgray;
  //     }
  //   }

  //   .other-content-box {
  //     height: 500px;
  //     border: 1px solid lightgray;
  //   }
  // }

  .other-content-section {
    margin-top: 60px;

    li {
      --bs-nav-link-color: red;
      --bs-nav-link-hover-color: #cc0000;
    }

    .content-box {
      padding: 25px 35px;
      height: 500px;
      border: 1px solid lightgray;
      overflow: scroll;

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }

      .review-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;

        .user-id {
          margin-bottom: 5px;
          font-size: 25px;
        }
      }
    }
  }
}
