html {
  background-color: black;
}

#root {
  background-color: black;
}

/* @---- components ----@ */

.nav-item:hover {
  color: lightgray;
}

/* Banner.js */
.banner {
  display: flex;
  align-items: center;
  height: 600px;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  color: white;
  z-index: 1;
}

/* MovieCard.js */
.cards {
  width: 300px;
  height: 200px;
  background-size: cover;
  transition: all .2s;
}

.cards:hover {
  transform: scale(1.2);
}

.cards:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, .6);
}

.overlay {
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .2s;
  cursor: pointer;
}

.overlay > h1 {
  font-size: 30px;
}

.movie-info {
  margin-top: 5px;
}

.movie-info > span {
  margin-right: 5px;
}

/* Navigation.js */
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}


/* @---- pages ----@ */

/* Home.js */
.movie-tap {
  margin: 0;
  color: white;
  background-color: black;
}