html {
  background-color: black;
}
html body {
  color: white;
  background-color: black;
}
html body * {
  margin: 0;
  padding: 0;
}
html body .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body li {
  list-style: none;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;
}
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, black, transparent);
}
.banner .banner-info {
  width: 40%;
  margin-left: 30px;
  color: white;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .banner {
    background-size: cover;
    height: 250px;
  }
  .banner .banner-info {
    width: 60%;
  }
  .banner .banner-info h1 {
    font-size: 20px;
  }
  .banner .banner-info p {
    display: none;
  }
}
.cards {
  width: 300px;
  height: 200px;
  background-size: cover;
  transition: all 0.2s;
}
.cards:hover {
  transform: scale(1.2);
  z-index: 99;
}
.cards:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.overlay {
  padding: 15px 15px;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.overlay h1 {
  font-size: 30px;
}
.overlay .movie-info {
  margin-top: 5px;
}
.overlay span {
  margin-right: 5px;
}

.movies-page-cards {
  position: relative;
  width: 250px;
  height: 350px;
  background-size: cover;
  cursor: pointer;
}
.movies-page-cards::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, black 30%, transparent);
}
.movies-page-cards .movie-info-container {
  position: relative;
  padding: 15px;
  z-index: 1;
}
.movies-page-cards .movie-info-container .title-box {
  display: flex;
}
.movies-page-cards .movie-info-container .title-box img {
  width: 70px;
  height: 100px;
  z-index: 1;
  margin-right: 15px;
}
.movies-page-cards .movie-info-container .title-box h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 3px;
  font-size: 25px;
}
.movies-page-cards .movie-info-container .title-box p {
  margin-top: 5px;
  font-size: 13px;
}
.movies-page-cards .movie-info-container .badges {
  padding: 5px 0;
}
.movies-page-cards .movie-info-container .badges span {
  margin-right: 5px;
  font-size: 10px;
}
.movies-page-cards .movie-info-container .overview {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  width: 60%;
  font-size: 10px;
}
.movies-page-cards .movie-info-container .other-info-box {
  margin-top: 10px;
  font-size: 12px;
}
.movies-page-cards .movie-info-container .other-info-box span {
  margin-right: 5px;
}
.movies-page-cards .movie-info-container .other-info-box span:last-child {
  color: red;
  font-weight: bold;
}
.movies-page-cards .movie-info-container .page-btns div {
  display: flex;
  justify-content: center;
}

.movie-slide {
  margin: 10px 10%;
}

.react-multi-carousel-list .react-multi-carousel-track {
  margin: 0 30px;
}
.react-multi-carousel-list .react-multi-carousel-track .react-multi-carousel-item {
  margin: 15px 0;
}

.page-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-item:hover {
  color: lightgray;
}

.recommendations-items {
  list-style: none;
}
.recommendations-items .recommendations-movies-img {
  width: 100%;
  cursor: pointer;
}

.not-found-massage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  height: 500px;
  font-size: 40px;
  color: black;
}

.home-page {
  padding-bottom: 10%;
}
.home-page .movie-slide-title {
  margin: 0 0 10px 10%;
  color: white;
}

.details-page {
  margin: 10% 23%;
}
.details-page .movie-info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-page .movie-info-section img {
  width: 100%;
}
.details-page .movie-info-section .movie-info-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.details-page .movie-info-section .movie-info-container .genre-badges {
  margin-right: 10px;
}
.details-page .movie-info-section .movie-info-container h1 {
  margin: 20px 0;
  font-size: 40px;
}
.details-page .movie-info-section .movie-info-container .movie-info-items {
  padding-bottom: 30px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(1) {
  padding-right: 10px;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(2) {
  padding-right: 10px;
  font-weight: bold;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(3) {
  color: red;
  font-size: 15px;
}
.details-page .movie-info-section .movie-info-container .movie-overview {
  padding: 30px 0;
  font-size: 15px;
}
.details-page .movie-info-section .movie-info-container .details-info-box {
  padding: 30px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.details-page .movie-info-section .movie-info-container .details-info-box .badge {
  width: 100px;
  margin: 8px 0;
}
.details-page .movie-info-section .movie-info-container .details-info-box .badges {
  margin-left: 10px;
}
.details-page .movie-info-section .movie-info-container .trailer {
  margin-top: 30px;
}
.details-page .movie-info-section .movie-info-container .trailer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.details-page .other-content-section {
  margin-top: 100px;
}
.details-page .other-content-section li {
  --bs-nav-link-color: red;
  --bs-nav-link-hover-color: #cc0000;
}
.details-page .other-content-section .content-box {
  padding: 25px 35px;
  height: 500px;
  border: 1px solid lightgray;
  overflow: scroll;
}
.details-page .other-content-section .content-box .review-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.details-page .other-content-section .content-box .review-box .user-id {
  margin-bottom: 5px;
  font-size: 25px;
}
.details-page .other-content-section .content-box .recommendations-movies-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 20px;
  padding: 40px;
  width: 100%;
}
.details-page .other-content-section .content-box .recommendations-movies-box .recommendations-movies {
  padding: 10px 20px;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .details-page {
    margin: 5% 7%;
  }
  .details-page .movie-info-section {
    display: flex;
    flex-direction: column;
  }
  .details-page .movie-info-section img {
    margin-bottom: 15px;
  }
  .details-page .movie-info-section .movie-info-container h1 {
    margin: 5px 0;
    font-size: 25px;
  }
  .details-page .movie-info-section .movie-info-container .movie-info-items {
    padding-bottom: 10px;
    font-size: 15px;
  }
  .details-page .movie-info-section .movie-info-container .movie-overview {
    padding: 15px 0;
    font-size: 15px;
  }
  .details-page .movie-info-section .movie-info-container .details-info-box {
    padding: 15px 0;
  }
  .details-page .movie-info-section .movie-info-container .trailer {
    display: none;
  }
  .details-page .other-content-section {
    margin: 20px 0 50px;
  }
  .details-page .other-content-section .mb-3 {
    font-size: 12px;
  }
  .details-page .other-content-section .content-box {
    height: 300px;
    padding: 10px 15px;
  }
  .details-page .other-content-section .content-box .review-box {
    font-size: 12px;
  }
  .details-page .other-content-section .content-box .review-box .user-id {
    font-size: 18px;
  }
  .details-page .other-content-section .content-box .recommendations-movies-box {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;
  }
}
.movies-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.movies-page .select-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 250px;
}
.movies-page .movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}