html {
  background-color: black;
}
html body {
  color: white;
  background-color: black;
}

.banner {
  display: flex;
  align-items: center;
  height: 600px;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  color: white;
  z-index: 1;
}

.cards {
  width: 300px;
  height: 200px;
  background-size: cover;
  transition: all 0.2s;
}
.cards:hover {
  transform: scale(1.2);
  z-index: 99;
}
.cards:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.overlay {
  padding: 15px 15px;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.overlay h1 {
  font-size: 30px;
}
.overlay .movie-info {
  margin-top: 5px;
}
.overlay span {
  margin-right: 5px;
}

.movie-slide {
  margin: 10px 10%;
}

.react-multi-carousel-list .react-multi-carousel-track {
  margin: 0 30px;
}
.react-multi-carousel-list .react-multi-carousel-track .react-multi-carousel-item {
  margin: 15px 0;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-item:hover {
  color: lightgray;
}

.notFoundMassage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  height: 500px;
  font-size: 40px;
  color: black;
}

.home-page {
  padding-bottom: 10%;
}
.home-page .movie-slide-title {
  margin: 0 0 10px 10%;
  color: white;
}

.details-page {
  margin: 10% 23%;
}
.details-page .movie-info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-page .movie-info-section img {
  width: 100%;
}
.details-page .movie-info-section .movie-info-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.details-page .movie-info-section .movie-info-container .genre-badges {
  margin-right: 10px;
}
.details-page .movie-info-section .movie-info-container h1 {
  margin: 20px 0;
  font-size: 40px;
}
.details-page .movie-info-section .movie-info-container .movie-info-items {
  padding-bottom: 30px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(1) {
  padding-right: 10px;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(2) {
  padding-right: 10px;
  font-weight: bold;
}
.details-page .movie-info-section .movie-info-container .movie-info-items span:nth-child(3) {
  color: red;
  font-size: 15px;
}
.details-page .movie-info-section .movie-info-container .movie-overview {
  padding: 30px 0;
  font-size: 15px;
}
.details-page .movie-info-section .movie-info-container .details-info-box {
  padding: 30px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.details-page .movie-info-section .movie-info-container .details-info-box .badge {
  width: 100px;
  margin: 8px 0;
}
.details-page .movie-info-section .movie-info-container .details-info-box .badges {
  margin-left: 10px;
}
.details-page .movie-info-section .movie-info-container .trailer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.details-page .other-content-section {
  margin-top: 100px;
}
.details-page .other-content-section li {
  --bs-nav-link-color: red;
  --bs-nav-link-hover-color: #cc0000;
}
.details-page .other-content-section .content-box {
  padding: 25px 35px;
  height: 500px;
  border: 1px solid lightgray;
  overflow: scroll;
}
.details-page .other-content-section .content-box .review-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.details-page .other-content-section .content-box .review-box .user-id {
  margin-bottom: 5px;
  font-size: 25px;
}
.details-page .other-content-section .content-box .recommendations-movies-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
  width: 100%;
}
.details-page .other-content-section .content-box .recommendations-movies-box .recommendations-movies {
  padding: 10px 20px;
  width: 100%;
}